*.*
*/Makefile
SEBS
golden*
!you_must_install_me.txt
!.gitignore
!vsprojects/libprotobuf.vcxproj
!vsprojects/libprotobuf.vcxproj.filters
!vsprojects/Release/libprotobuf.lib 
!vsprojects/Debug/libprotobuf.lib 
!src/.libs/libprotobuf.a
